#home{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    background-image: url(https://img.freepik.com/free-vector/laptop-with-program-code-isometric-icon-software-development-programming-applications-dark-neon_39422-971.jpg?w=740&t=st=1716390491~exp=1716391091~hmac=041a83bdce7748fe7336e625cdaef3f30ee7b2e18ffa00574cec76e828dccc80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}